/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Ajout de la font Agrandir --- */
@font-face {
    font-family: 'Agrandir';
    src: url('./assets/fonts/Agrandir-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
